.maze.container {
  background-color: black;
}

.maze.container .col {
  padding: 0px;
  border: 1px solid white;
}

.square {
  width: 100%;
  padding-top: 100%;
}

.square.filled {
  background-color: white;
}

.maze-controls {
  margin-bottom: 10px;
}

.size-group span {
  padding-right: 10px;
  padding-left: 10px;
}